/* Set Inter font as default */
body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Custom scrollbar style */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #4f46e5; /* Indigo-600 */
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #111827; /* Gray-900 */
}

  /* Resim varken placeholder'ı gizle */
  #drop-area.has-image #upload-placeholder {
    display: none;
  }

  /* Hover olunca overlay'i göster (Tailwind çalışmazsa garanti yöntem) */
  #drop-area:hover .group-hover\:flex {
    display: flex !important;
  }
  
  /* Resim tam sığsın */
  #img-preview {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
/* Tek sayili satirlar (1, 3, 5...) - Açik Turuncu */
 #category-select option:nth-of-type(odd) {
    background-color: #fff7ed !important; /* Orange-50 */
    color: #9a3412;
}

/* Çift sayili satirlar (2, 4, 6...) - Saf Beyaz */
#category-select option:nth-of-type(even) {
    background-color: #ffffff !important;
    color: #9a3412;
}

/* Seçili olan (Hover/Active) - Tam Turuncu */
#category-select option:focus, 
#category-select option:active,
#category-select option:checked {
    background-color: #ea580c !important;
    color: white !important;
}

